.authen-template{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1633681926053-9074b76e21a7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
}

.authen-template__form{
    width: 500px;
    height: 80vh;
    background-color: white; 
    margin-left: 50px; /* căn lề trái */
    border-radius: 12px; /*độ cong của viền ô đăng nhập */
    padding: 30px ;  /*đẩy nội dung vô trong*/
    overflow: scroll;
}

/*flex box */

