.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 50px;
    left: 0;
    overflow-y: auto;
    background-color: black;
}


.custom-nav .nav-link {
    color: white;
    border-radius: 0.25rem;
    margin: 5px;
    padding: 10px 20px;
}

.custom-nav .nav-link.active {
    background-color: #DEC7A6;
    color: #000000;
    border-color: #DEC7A6;
}

.custom-nav .nav-link:hover {
    background-color: #a7a39e;
    color: #000000;
}

.custom-nav .custom-navlink {
    margin-bottom: 15px;
}